web/sqlite
# Emacs backup
*~
# temporary files not tracked by git
temp*
__pycache__
*.pyc
*.sqlite
# this file recreated by abcode/pywork/redo_postxml.sh
abcode/web/webtc2/query_dump.txt
# these files recreated by abcode/pywork/redo_hw.sh
abcode/pywork/mwkeys/extract_keys*.txt
